[Unit]
Description=Kaede Recorder

[Service]
WorkingDirectory=/home/eagletmt/work/kaede
User=eagletmt
ExecStart=/usr/bin/bundle exec bin/kaede scheduler -c kaede.rb
ExecReload=/usr/bin/dbus-send --print-reply --system --dest=cc.wanko.kaede1 /cc/wanko/kaede1/scheduler cc.wanko.kaede1.Scheduler.Reload
ExecStop=/usr/bin/dbus-send --print-reply --system --dest=cc.wanko.kaede1 /cc/wanko/kaede1/scheduler cc.wanko.kaede1.Scheduler.Stop
Restart=always
KillMode=none
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
