require 'redis'
require 'logging'

GRPC.extend(Logging.globally)
Logging.logger.root.appenders = Logging.appenders.stdout
Logging.logger.root.level = :debug

Kaede.configure do |config|
  config.b25 = '/usr/bin/b25'
  config.recpt1 = '/usr/bin/recpt1'
  config.assdumper = '/home/eagletmt/bin/assdumper'
  config.clean_ts = '/home/eagletmt/bin/clean-ts'
  config.statvfs = '/home/eagletmt/bin/statvfs'
  config.database_url = 'postgres://localhost/kaede?user=kaede'
  config.record_dir = '/home/pt'
  config.cache_dir = '/home/pt/cache'
  config.cabinet_dir = '/home/pt'
  config.redis = Redis.new(db: 1)
  config.redis_queue = 'jobs'
  config.fluent_tag_prefix = 'kaede'
  config.fluent_host = 'localhost'
  config.fluent_port = 24224
end

# vim: set ft=ruby:
