require 'redis'
require 'twitter'

Kaede.configure do |config|
  config.b25 = '/usr/bin/b25'
  config.recpt1 = '/usr/bin/recpt1'
  config.assdumper = '/home/eagletmt/bin/assdumper'
  config.clean_ts = '/home/eagletmt/bin/clean-ts'
  config.statvfs = '/home/eagletmt/bin/statvfs'
  config.database_path = '/home/eagletmt/work/kaede/kaede.db'
  config.record_dir = '/home/pt'
  config.cache_dir = '/home/pt/cache'
  config.cabinet_dir = '/home/pt'
  config.redis = Redis.new(db: 1)
  config.redis_queue = 'jobs'
  config.twitter = Twitter::REST::Client.new do |config|
    config.consumer_key = 'CONSUMER_KEY'
    config.consumer_secret = 'CONSUMER_SECRET'
    config.access_token = 'ACCESS_TOKEN'
    config.access_token_secret = 'ACCESS_TOKEN_SECRET'
  end
  config.twitter_target = 'eagletmt'
end

# vim: set ft=ruby:
